@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1,
  h2,
  h3,
  h4 {
    @apply font-header;
  }

  body {
    --deckgo-highlight-code-carbon-background: #fff;
    --deckgo-highlight-code-carbon-border: 1px solid #e2e8f0;
    --deckgo-highlight-code-carbon-box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.04);
  }

  .flip-x {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  code[class*="language-"],
  pre[class*="language-"] {
    @apply text-sm p-6 overflow-x-auto my-2;
  }

  .mermaid {
    @apply flex justify-center py-4;
  }

  .markdown > h1 {
    @apply text-4xl py-4;
  }

  .markdown > h2 {
    @apply text-3xl pb-3 pt-8 font-bold;
  }

  .markdown > h3 {
    @apply text-2xl pb-2 pt-4 font-medium;
  }

  .markdown > h4 {
    @apply text-xl pb-2 pt-2 font-medium;
  }

  .markdown > hr {
    @apply my-6;
  }

  .markdown > p {
    @apply py-2;
  }

  .markdown > p img {
    @apply rounded-lg my-2 p-6 border border-gray-200 shadow-card overflow-hidden;
  }

  .markdown ul {
    @apply pb-2 pl-6;
  }

  .markdown li {
    @apply pl-4 py-2 list-disc;
  }

  .markdown a {
    @apply font-semibold underline;
  }

  .markdown blockquote {
    @apply border-l-2 border-gray-200 pl-4 py-2 text-lg italic text-gray-400;
  }

  .toc {
    @apply flex flex-initial m-6 p-6 border border-gray-200 rounded-lg shadow-card;
  }

  .toc li {
    @apply list-none;
  }

  .toc ul * ul li {
    @apply border-l border-gray-200 pl-4;
  }

  .toc p {
    @apply pb-2;
  }

  .bg-gradient {
    background: linear-gradient(
            180deg,
            rgba(242, 242, 242, 1) 0%,
            rgba(255, 255, 255, 1) 66%
    );
  }
}
